<div class="container" infinite-scroll="get_next()" infinite-scroll-distance="0">
  <div class="jumbotron">
    <h1><a href="/#/book_search">책 함께 주문하기</a></h1>
  </div>

  <!-- ORDERS -->
  <div class="table-responsive" ng-repeat="item in items">
    <table class="table table-condensed table-hover">
      <tr>
        <td class="col-md-2"><a href="{{ item.books.link}}" target="_blank">
            <img ng-src={{item.books.cover_s_url}} class="img-rounded img-responsive center-block">
          </a>
        </td>
        <td class="col-md-2">{{item.books.title}}</td>
        <td class="col-md-2">{{ item.username }}</td>
        <td class="col-md-2">{{item.phone }}</td>
        <td>{{ item.created_at | relativeDate }}</td>
      </tr>
    </table>
  </div>

  <div ng-hide="items.length">No items found</div>
</div>
