<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Hoodpub</h3>
  </div>
  <div class="modal-body">
    <ul> <a href="/hoodpub-auth/facebook">로그인이 필요합니다.</a>
      <li ng-repeat="item in items">
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="mailto:pointer81@gmail.com">
      개선 요청하기
    </a>
  </div>
</script>


<div class="container" infinite-scroll="get_next()" infinite-scroll-distance="0">
  <form >
    <div class="form-group label-floating">
      <input type="text" class="form-control" placeholder="검색"
             ng-model="keyword">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" ng-click="search()"></button>
      </div>
    </div>
  </form>
  <div class="panel panel-default" ng-repeat="item in items">
    <div class="panel-body" >
      <div class="row">
        <!-- cover -->
        <div class="col-xs-3 col-md-3">
          <a href="/book/{{item.isbn}}">
            <img ng-src={{item.cover_l_url}} class="img-rounded img-responsive center-block">
          </a>
          <br>
          <p>
            <button type="button" class="btn btn-success center-block" ng-show="!item.is_read" ng-click="read_book(item)">
              읽기</button>
          </p>
        </div>

        <div class="row col-xs-9 col-md-6">

          <!-- book info -->
          <div class="col-md-12">
            <p><b>{{ item.title }}</b>  </p>
            <p>{{ item.pub_nm }} / <span>{{ item.category }}</span> </p>
            <p class="light_text">{{ item.author }} </p>
          </div>
        </div>
        <!-- users -->
        <div class="col-xs-12 col-md-3">
          <div ng-repeat="read in item.reads" class="col-md-3 col-xs-3 pull-left">
            <a href="" ng-click="search_users(read.user[0].sns_id)" title="{{read.user[0].first_name}}" >
              <img ng-src="https://graph.facebook.com/{{read.user[0].sns_id}}/picture?width=38&height=38" class="img-circle" >
            </a>
          </div>
        </div>

        <!-- <\!-- one sentense -\-> -->
        <!-- <div class="col-xs-12 col-md-9"> -->
        <!--   <div ng-repeat="sentense in item.onesentense" class="col-md-7"> -->
        <!--     <p class="comment">{{sentense.comment}}</p> -->
        <!--     <p class="user_name">- {{sentense.user_name}}</p> -->
        <!--   </div> -->
        <!--   <input class="comment col-xs-11" type="text" id="onesentense" -->
        <!--          ng-model="onesentense" -->
        <!--          my-enter="postComment(item, onesentense)" -->
        <!--          placeholder="나만의 한문장..."> -->
        <!-- </div> -->

      </div>
    </div>
  </div>
  <div ng-hide="items.length">No items found</div>
</div>
