<div class="container" >
  <div class="panel-body" >
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center">
        <p>
          <a href="{{ item.link}}" target="_blank">
            <img ng-src={{item.cover_s_url}} class="img-rounded img-responsive center-block bg-warning">
          </a>
        </p>
        <p><b>{{ item.title }}</b>{{ item.category }} </p>
        <p>{{ item.pub_nm }} </p>
        <p>{{ item.sale_price | currency:'Won ':0}} </p>
        <p>{{ item.author }}</p>
        <p>{{ item.pub_date | date : format : timezone}} </p>
        <p class="col-md-12 text-center">{{ item.description }}</p>
      </div>
    </div>
    <hr/>
    <div class="row  text-center">
      <div>
        <form class="form-horizontal" role="form" ng-submit="order_complete()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="user.name" id="name" placeholder="이름" required>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" ng-model="user.phone" id="phone" placeholder="전화번호" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" ng-model="user.email" id="email" placeholder="이메일" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default" ng-disabled="isSaving">완료
              <div class="spinner" ng-show="isSaving"><img src='static/hoodpub/images/ajax-loader.gif'></div>
            </button> 
          </div>
        </form>
      </div>
      <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
    </div>

  </div>
</div>
</div>
