<div class="container">
  <div id="graphDiv" class="col-xs-12 col-md-12 pull-right">
    <div id="sidebar" style="display:none;">
      <div class="panel-heading">
        <strong class="title"><>{{book.title}}</strong>
      </div>
      <div class="panel-body">
        <img src="https://hoodpub.com/static/hoodpub/images/icon_128x128.png"/>
      </div>
    </div>
  </div>
</div>

<div class="panel-footer center-block">
  <center><button onclick="location.href = '/';" class="btn btn-default">목록보기</button></center>
</div>

<style type="text/css" media="screen">
html, body { width: 100%; height: 100%;}
svg {
    width:100%;
    min-height: 600px;
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
}

#sidebar {
    position: fixed;
    top: 100;
    left: 100;
    z-index: 999;
    background-color:#F1F1F1;
}
</style>
