<div class="container" >
  <form name="form" ng-submit="submit()"  method="POST">
    <div class="form-group  col-lg-6 col-sm-6 col-sx-6">
      <div class="col-lg-6 col-sm-6 col-sx-6">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="new_tags" name="tags" value="">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" data-original-title="" title="">Submit!</button>
          </span>

        </div>
        <div>
          {{tags}}
        </div>
      </div>
    </div>
  </form>
</div>
