<div class="container" >
  <div class="panel-body" >
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center">
        <a href="{{ item.link}}" target="_blank">
          <img ng-src={{item.cover_l_url}} class="img-rounded img-responsive center-block">
        </a>
      </div>
      <div class="col-xs-12 col-md-12 text-center">
        <p><b>{{ item.book.title }}</b> {{ item.book.category }} </p>
        <p>{{ item.pub_nm }} </p>
        <p>{{ item.sale_price | currency:'Won ':0}} </p>
        <p>{{ item.author }} {{ item.author_t }}</p>
        <p>{{ item.pub_date | date : format : timezone}} </p>

        <hr/>

        <p>주문자 : {{ order.username }} </p>
        <p>연락처 : {{ order.phone  }} </p>
        <p>이메일 : {{ order.email }} </p>
        <p>주문일시 : {{ order.created_at }} </p>
      </div>
        <hr/>
      <p class="text-center">
        <button class="btn btn-default" type="submit" ng-click="goto_list()">
         책 조회
        </button>
      </p>
    </div>
  </div>
</div>
