{% extends "hoodpub/index.html" %}
{% load static %}

{% block meta %}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# hoodpub: http://ogp.me/ns/fb/hoodpub#">
<meta property="fb:app_id" content="254645177977123" />
<meta property="og:type"   content="hoodpub:book" />
<meta property="og:url"    content="https://www.hoodpub.com/book/{{book.isbn}}"/>
<meta property="og:title"  content="{{ book.title }}" />

<meta property="og:image" content="{{book.cover_l_url}}" />


<meta property="og:site_name" content="HoodPub" />
<meta property="og:description" content="{% autoescape off %}
{{ book.description }}
{% endautoescape %}
" />
<meta property="fb:admins" content="100003181778636" />

<meta property="book:author - {{ book.author }}" />
<meta property="book:isbn - string - {{ book.isbn }}" />
<meta property="book:release_date - datetime - {{ book.pubDate }}" />
<meta property="book:tag - string array - {{ book.isbn }}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="book_picture">
      <a href="{{ book.link }}">  <img src="{{ book.cover_l_url }}"></a>
      <p class="book-author">{{ book.author }}</p>
      <div class="read_color_container" style="max-width:100px" id="book_{{book.book_id}}" >
        <div id="book_color_me"   class="read_color {% if book.read_my  %} read_me {% endif %}"> </div>
        <div id="book_color_friend"  title="See more friends" class="read_color {% if book.read_friend  %} read_friend {% endif %}"   >   </div>
        <div id="book_color_other" class="read_color {% if book.read_other   %} read_other {% endif %}"   > </div>
      </div>
    </div>
    <div class="book_description">
      <p class="book-title">{{ book.title }}</p>
      <p class="book-description">
        {% autoescape off  %}
        {{ book.description }}
        {% endautoescape %}
      </p>
      <p class="book-isbn">{{ book.isbn }}</p>
      <p class="book-categoryName">{{ book.categoryName }} </p>
      <p class="book-publisher">{{ book.publisher }}</p>
    </div>

  </div>
<hr style="float:right;"/>

        <div class="col-xs-12 col-md-4">
          <div ng-repeat="read in book.reads" class="col-md-3 col-xs-3 pull-right">
            {% for read in book.read_set.all %}
            {% for userprofile in read.userprofile_set.all %}
            {{ userprofile.user.username }}
            {{ userprofile.user.sns_id }}
            <a href="" ng-click="search_users({{ userprofile.sns_id }})" title="title" >
              <img src="https://graph.facebook.com/{{userprofile.sns_id}}/picture?width=38&height=38" class="img-circle" >
            </a>
            {% endfor%}
            {% endfor%}
          </div>
        </div>
{% endblock %}
