{% extends "hoodpub/index.html" %}
{% load static %}
{% load threadedcomments_tags %}

{% block meta %}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# hoodpub: http://ogp.me/ns/fb/hoodpub#">
<meta property="fb:app_id" content="254645177977123" />
<meta property="og:type"   content="{{og_type}}" />
<meta property="og:url"    content="https://www.hoodpub.com/book/{{book.isbn}}/"/>
<meta property="og:title"  content="{{ book.title }}" />

<meta property="og:image" content="{{book.cover_l_url}}" />


<meta property="og:site_name" content="HoodPub" />
<meta property="og:description" content="{% autoescape off %}
{{ book.description }}
{% endautoescape %}
" />
<meta property="fb:admins" content="100003181778636" />

<meta property="book:author - {{ book.author }}" />
<meta property="book:isbn - string - {{ book.isbn }}" />
<meta property="book:release_date - datetime - {{ book.pubDate }}" />
<meta property="book:tag - string array - {{ book.isbn }}" />

<meta property="books:isbn" content="{{ book.isbn }}" />
{% endblock %}
<title>{% block title %}{{ book.title }}{% endblock %}</title>

{% block content %}
<div class="col-xs-12 col-md-4 col-md-offset-4" ng-controller="hoodpubControllers">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <center><h3>{{ book.title }}</h3></center>
    </div>
    <div class="panel-body">
      <div class="col-xs-6 col-md-3">
        <a href="{{ book.link }}">  <img src="{{ book.cover_l_url }}"></a>
      </div>
      <div class="col-xs-6 col-md-9">
        <p >{{ book.category }} </p>
        <p >{{ book.pub_nm }}</p>
        <p class="light_text">{{ book.author }}</p>
        <p class="">{{ book.list_price }}</p>
        <p class="">{{ book.pub_date |date:"Y-M-d"}}</p>

      </div>
      <div class="col-xs-12 col-md-9 ">
        <hr/>
        {% autoescape off  %}
        <section id="description">
          {{ book.description|linebreaks}}
        </section>
        {% endautoescape %}
      </div>
      <div class="col-xs-12 cols-md-12">
        {% for read in book.read_set.all %}
          {% render_comment_list for read %}
        {% endfor%}
      </div>
      <div class="col-xs-12 cols-md-12">
        <hr/>
        <section id="users">

        <table class="table table-condensed">
          {% for read in book.read_set.all %}
          <tr>
            {% for userprofile in read.userprofile_set.all %}
            {{ userprofile.user.sns_id }}
            <td>
              <a href="/#/user/{{ userprofile.sns_id }}" ng-click="search_users({{ userprofile.sns_id }})" title="{{ userprofile.user.username }}" >
                <img src="https://graph.facebook.com/{{userprofile.sns_id}}/picture?width=25&height=25" class="img-circle" >
              </a>
            </td>
            <td>
              {{ userprofile.user.username }}
            </td>
            <td>{{ read.created_at |date:"Y-M-d"}}
            </td>
            {% endfor%}
          </tr>
          {% endfor%}
        </table>
        </section>
      </div>
    </div>

    <div class="panel-footer center-block">
      <center>
      <button type="button" ng-click="go_back()" class="btn btn-default" class="pull-left">목록보기</button>
      <input type="button" ng-click="goto_graph()" class="btn btn-default" value="그래프" class="pull-right" style="margin:10px auto;">
      </center>
    </div>
  </div>
</div>

{% endblock %}
