{% extends "hoodpub/index.html" %}
{% load static %}

{% block meta %}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# hoodpub: http://ogp.me/ns/fb/hoodpub#">
<meta property="fb:app_id" content="254645177977123" />
<meta property="og:type"   content="hoodpub:book" />
<meta property="og:url"    content="http://{{ request.META.HTTP_HOST }}{{  request.path }}" />
<meta property="og:title"  content="{{ book.title }}" />

<meta property="og:image" content="{{book.cover_l_url}}" />


<meta property="og:site_name" content="HoodPub" />
<meta property="og:description" content="{% autoescape off %}
{{ book.description }}
{% endautoescape %}
" />
<meta property="fb:admins" content="100003181778636" />

<meta property="book:author - {{ book.author }}" />
<meta property="book:isbn - string - {{ book.isbn }}" />
<meta property="book:release_date - datetime - {{ book.pubDate }}" />
<meta property="book:tag - string array - {{ book.isbn }}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="book_info">
    <div class="book_picture">
      <a href="{{ book.link }}">  <img src="{{ book.cover_l_url }}"></a>
      <p class="book-author">{{ book.author }}</p>
      <div class="read_color_container" style="max-width:100px" id="book_{{book.book_id}}" >
        <div id="book_color_me"   class="read_color {% if book.read_my  %} read_me {% endif %}"> </div>
        <div id="book_color_friend"  title="See more friends" class="read_color {% if book.read_friend  %} read_friend {% endif %}"   >   </div>
        <div id="book_color_other" class="read_color {% if book.read_other   %} read_other {% endif %}"   > </div>
      </div>
    </div>
    <div class="book_description">
      <p class="book-title">{{ book.title }}</p>
      <p class="book-description">
        {% autoescape off  %}
        {{ book.description }}
        {% endautoescape %}
      </p>
      <p class="book-isbn">{{ book.isbn }}</p>
      <p class="book-categoryName">{{ book.categoryName }} </p>
      <p class="book-publisher">{{ book.publisher }}</p>
    </div>

  </div>
  <hr style="float:right;"/>

  <div class="clearboth social_info">
    <div class="social_friends">
      <div style="float:bottom; border: 0px solid #999;">
        <h3>People who read this book</h3><br/>
        <ul>
          {% for friend in friends %}
          <li>
            <a href =http://www.hoodpub.com/listbooks?user={{ friend.user_facebook_id }}>
              <img src = 'https://graph.facebook.com/{{ friend.user_facebook_id }}/picture' title="{{ friend.user_name }}"/></a>
          </li>
          {% endfor%}
        </ul>
      </div>
    </div>

    <div class="social_sns">
      <div>  <fb:like send="False" width="300" show_faces="true" font="verdana"></fb:like>  </div>
      <div class="fb-comments" data-href="http://{{ request.META.HTTP_HOST }}{{  request.path }}" data-num-posts="2" ></div>
    </div>
  </div>

  <hr style="float:right;"/>

  <div class="clearboth navi">
    <button class="btn" onclick="location.href='{{request.META.HTTP_REFERER}}'">Go back</button>
  </div>
</div>
{% endblock %}
