{% load static %}
{% load compress %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    <meta property="og:url" content="{{ current_site }}"/>
    <meta property="og:title" content="Hoodpub" />
    <meta property="og:image" content="{{ current_site }}{% static 'hoodpub/images/icon_128x128.png' %}" />
    {% endblock %}
    <title>{% block title %}Hoodpub{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'hoodpub/css/hoodpub.css' %}">
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '254645177977123',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>
  </head>
  <body class="ng-cloak">
    {% block content %}
    {% verbatim %}

    <nav class="navbar navbar-default" role="navigation" ng-controller="userControllers">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Hoodpub</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" >
          <li class="col-xs-3"><input type="button" ng-click="go_graph()" class="btn btn-default" value="그래프" style="margin:10px auto;"></li>
          <li class="col-xs-3" ng-show="!$root.userprofile"><a ng-click="go_login()" ga-track-event="['auth', 'click', 'top']"><img src="/static/hoodpub/images/sign-in-facebook.png" style="height:28px" align="middle"></a></li>
          <li class="col-xs-3" ng-show="$root.userprofile"><input type="button" ng-click="logout()" class="btn btn-default" value="로그아웃" style="margin:10px auto;">
          </li>
          <li class="col-xs-3" ng-if="$root.userprofile"><a href="#/user/{{$root.userprofile.sns_id}}"><img ng-src="https://graph.facebook.com/{{$root.userprofile.sns_id}}/picture?width=25&height=25" class="img-circle"></a>
          </li>
        </ul>
      </div>
    </nav>
    <span us-spinner="{radius:20, width:8, length: 8}" spinner-on="showSpinner" spinner-key="spinner"></span>
    <div class="view-animate-container">
      <div ng-view class="view-animate"></div>
    </div>
    {% endverbatim %}
    {% endblock  %}
    {% block script %}

    {% compress js %}
    <script src="{% static 'hoodpub/js/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'hoodpub/js/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'hoodpub/js/graph/vivagraph.js' %}"></script>
    <script src="{% static 'hoodpub/js/bower_components/angular/angular.js' %}"></script>
    <script src="{% static 'hoodpub/js/bower_components/angular-resource/angular-resource.js' %}"></script>

    <script src="{% static 'hoodpub/js/bower_components/angular-route/angular-route.js' %}"></script>
    <script src="{% static 'hoodpub/js/bower_components/angular-jwt/dist/angular-jwt.min.js' %}"></script>

    <script src="{% static 'hoodpub/js/bower_components/angular-google-analytics/dist/angular-google-analytics.js' %}"></script>
    <script src="{% static 'hoodpub/js/bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'hoodpub/js/bower_components/spin.js/spin.js' %}"></script>
    <script src="{% static 'hoodpub/js/bower_components/angular-spinner/angular-spinner.js' %}"></script>
    <script src="{% static 'hoodpub/js/bower_components/readmore-js/readmore.js' %}"></script>
    <script src="{% static 'hoodpub/js/ng-infinite-scroll.js' %}"></script>
    <script src="{% static 'hoodpub/js/angular-relative-date.js' %}"></script>
    <script src="{% static 'hoodpub/js/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-0.14.3.js' %}"></script>
    <script src="{% static 'hoodpub/js/services.js' %}"></script>
    <script src="{% static 'hoodpub/js/controllers.js' %}"></script>
    <script src="{% static 'hoodpub/js/directives.js' %}"></script>
    <script src="{% static 'hoodpub/js/app.js' %}"></script>
    {% endcompress %}
    {% endblock %}
  </body>
</html>

