a {
	cursor: pointer;
}

.more-show-hide {
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

.more-show-hide.ng-hide {
	opacity: 0;
}

.toggle-dots-grey {
	color: darkgrey;
}

.toggle-dots-yellow {
	color: yellow;
}

.toggle-link-yellow {
	color: yellow;
}

.toggle-link-grey {
	color: darkgrey;
}

.col-xs-12 {
    padding-right: 0px;
    padding-left: 0px;
}


@media only screen and (max-width: 480px){
    #description{font-size:16px !important;}
}

.user_name {
    color: #999;
    line-height: 16px;
    text-align: right;
    margin: -5px 10px 10px 0px;
}
.comment {
    font-weight: 200;
    display: inline-block;
    margin: 0px 10px;
    font-family: helvetica, arial, sans-serif;
}

textarea:focus, input:focus{
    outline: 0px;
}
